//bg images //
$bgSection1: url("../assets/bgsection1.png");
$bgEcran: url("../assets/windo.svg");

//bg colors//
$bgHeader: #ebebeb;
$bgHeaderIcons: #ffffff;
$bgSection2: #2d2d2d;
$bgSection3: #222222;
$bgFooter: #373737;

$mainThemeColor: #701dbb;       //violet
$secondThemeColor: #707070;     //gris
$thirdThemeColor: #ffffff;      //white
$offTitleThemeColor: #000000;  //black
$offText: #d5d5d5;

//font//
$mainThemeFont: 'nexa_boldregular', sans-serif;
$secondThemeFont: 'open_sansregular',sans-serif;