//bg images //
$bgSection1: url("../assets/bgSection1.png");
$bgEcran: url("../assets/Screen.png");

//PHOTO//
$portrait1: url("../assets/team01.png");
$portrait2: url("../assets/team02.png");
$portrait3: url("../assets/team03.png");
$portrait4: url("../assets/team04.png");
//bg colors//
$bgHeader: #ebebeb;
$bgHeaderIcons: #ffffff;
$bgSection2: #2d2d2d;
$bgSection3: #222222;
$bgFooter: #373737;
//font color//
$mainThemeColor: #701dbb;       //violet
$secondThemeColor: #707070;     //gris
$thirdThemeColor: #ffffff;      //white
$offTitleThemeColor: #000000;  //black
$offText: #d5d5d5;

//font//
$mainThemeFont: 'nexa_boldregular', sans-serif;
$secondThemeFont: 'open_sansregular',sans-serif;

$listPortrait:(
    1 : $portrait1 ,
    2 : $portrait2,
    3 : $portrait3,
    4 : $portrait4
);

$breakpoints:(
    mobile: 559px
);