
.section3 {
    background-color: $bgSection3;
    @include mobile-only;
  
    &__ecran {
       
        background: $bgEcran  no-repeat;
        background-size: cover;
      
      
        height: 465px;
        width: 1250px;  
    }
}