
.navitem {
    padding-top: 25px;
    align-items: center;
    height: 112px;
    width: 160px;
    border-bottom: $mainThemeColor 6px solid;
    transform: scale(1);
    transition: all 100ms ease-in-out;

    &--icon {
        height: 30px;
        width: 40px;
    }

    &:hover {
        transform: scale(1.1) translateY(-10%) ;
        border-bottom: $mainThemeColor 10px solid;
    }
}